<section>
  <div class="container black-text">
    <div class="row valign-wrapper">
      <a class="margin-right-20 black-text" routerLink='/home'>
        <i class="fas fa-arrow-left fa-2x"></i>
      </a>
      <h1 class="right"> {{ conteudo.title }} </h1>
    </div>
    <div class="main">

      <!-- BIOGRAFIA -->
      <div *ngIf="screen == 'biografia'">
        <img class="responsive-img right margin-left margin-bottom" src="assets/Robert_Stirling.jpg">
        <p> {{ conteudo.content }} </p>
      </div>

      <!-- MOTORES -->
      <div *ngIf="screen == 'motores'">
        <div class="row">
          <div class="col s12">
            <ul class="tabs" materialize="tabs">
              <li class="tab col s3" *ngFor="let engine of engines; let i = index">
                <a href="#engine{{i}}" class=" black-text ">{{ engine.title }}</a>
              </li>
            </ul>
          </div>
          <br>
          <div *ngFor="let engine of engines; let i = index">
            <div id="engine{{i}}" class="engine">
              <h2> {{ engine.title }} </h2>
              <p> {{ engine.description }} </p>
              <img *ngIf="engine.image != null" class="center materialboxed" materialize="materialbox" [src]="engine.image">
              <p> {{ engine.description2 }} </p>
              <img *ngIf="engine.image2 != null" class="center materialboxed" materialize="materialbox" [src]="engine.image2">
              <h2> {{ engine.title2 }} </h2>
              <p> {{ engine.description3 }} </p>
              <img *ngIf="engine.image3 != null" class="center materialboxed" materialize="materialbox" [src]="engine.image3">
            </div>
          </div>
        </div>
      </div>

      <!-- ANIMACAO -->
      <div *ngIf="screen == 'animacao'">
        <p> {{ conteudo.content }} </p>
        <br>
        <div *ngIf="screen == 'animacao'" class="video-container">
          <iframe frameborder="yes" width="600" height="300" src="https://wideo.co/embed/23570981529777282795?width=560&height=315&repeat=true&autoplay=true"></iframe>
        </div>
      </div>

      <!-- AUTORES -->
      <div *ngIf="screen == 'autor'">
        <table class="bordered centered striped">
          <thead>
            <tr>
              <th>Nome</th>
              <th>RA</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let auth of auths">
              <td> {{ auth.name }} </td>
              <td> {{ auth.ra }} </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</section>