<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height">
</particles>
<section class="valign-wrapper">
  <div class="row">
    <div *ngFor="let link of links">
      <div class="col s12 m6 l3" (click)="openScreen(link.link)">
        <div class="card bk-card hoverable">
          <div class="card-content white-text center-align">
            <img src="{{ link.image }}" width="90" alt="">
            <span class="card-title"> {{ link.title }} </span>
            <p> {{ link.description }} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>