section {
  width: 100vw;
  height: 100vh;

  .bk-card {
    background-color: transparent;
    border: 1px #fff solid;
    cursor: pointer;
    border-radius: 6px;
    min-height: 375px;

    .card-content {

      .card-title {
        margin: 25px;
        font-size: 2.3em;
        text-shadow: 1px 1px 3px #333;
      }

      p {
        text-align: justify;
        font-size: 1.18em;
        font-weight: 300;
        text-shadow: 2px 2px 3px #333;
      }
    }
  }
    
  .buttom{
    min-width: 250px;
    background-color: transparent;
    border: 1px solid #fff     !important;
    margin: 50px;
    display: block;
  }
}