/* You can add global styles to this file, and also import other style files */
$roboto-font-path: "~materialize-css/dist/fonts/roboto/";
@import "~materialize-css/sass/materialize";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

$padding: '16px';

.padding-top {
  padding-top: $padding;
}

.margin-left {
  margin-left: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-right-20 {
  margin-right: 20px;
}

.center {
  margin: 0 auto;
  display: block;
}